.column{
    width:50%;
    gap:5%;
    height:70%;
}
.modal-content {
    padding: 20px;
    /* border-radius: 10px; */
    border:2px solid rgb(215, 202, 202);
}

.form-check{
    display: flex;
    flex-direction: row;
    justify-content: space-
    
}
.form-label {
    font-weight: bold;
}
.form-control {
    border-radius: 5px;
    padding: 10px;
}
.border {
    cursor: pointer;
    background-color: #f8f9fa;
    border-radius: 5px;
}
.btn-primary {
    background-color: #007bff;
    border: none;
    
}
.btn-primary:hover {
    background-color: #0056b3;
}


